/.env
/.node-xmlhttprequest-sync-*
/environments/*/build/*
/environments/*/contracts/*.sol.js
!/environments/production/contracts/*.sol.js
!/environments/testnet/contracts/*.sol.js
/node_modules/
/npm-debug.log
/scratch.md
/tmp/
